<div id="product">
    <header>

        <nav class="navbar navbar-dark bg-dark" id="cartel">
            {{!-- <h1>¡Bienvenido/a {{user.first_name}} {{user.last_name}}!</h1>
            <h5>Eres: {{user.role}}</h5> --}}

            <h2>
                <img height="50px" width="50px" src="/images/Productos/Logo_R3.png" alt="">
                R3Impresiones
            </h2>

            {{#if user.isAdmin}}
            <div class="anchor-container">
                
                <a href="/adminPanel"><button class="btn btn-outline-success me-2">Panel de admin</button></a>
                <a href="/auth/logout"><button class="btn btn-secondary">Logout</button> </a>
                
            </div>
            {{else}}
            {{#if user}}
            <div class="anchor-container-user">
                <a id={{user.cart.id}} class="anchor-cart" href="/carts?id={{user.cart.id}}"><img class="img-cart" src="https://cdn.icon-icons.com/icons2/1456/PNG/512/mbrishoppingcart_99558.png" alt=""><div id="productQuantity">{{user.totalProducts}}</div></a>
                <a id="logout" href="/auth/logout"><button class="btn btn-secondary btn-sm">Logout</button> </a>
            </div>
            {{else}}
            <div class="anchor-container">
                
                <a href="/login"><button class="btn btn-outline-success me-2">Inicia sesión</button></a>
                <a href="/signup"><button class="btn btn-secondary">Crear cuenta</button> </a>
                
            </div>
            {{/if}}
            {{/if}}


        </nav>
    </header>
    <div class="description">
        <div id="img-container">
            <img height="500px" width="500px" src={{product.thumbail}}> 
        </div>
        <aside>
            <ul class="info-container">
                <li id="title">{{product.title}}</li>
                <li id="price">${{product.price}}</li>
                <li id="category">{{product.category}}</li>
                <li id="description">{{product.description}}</li>
                <!--<p>Código: {{product.code}}</p>-->
                <li id="stock">Stock: {{product.stock}}</li>
            </ul>
            
            <div class="btn-container">
            {{#if user.isAdmin}}
            {{else}}
            {{#if user}}
                <button id="{{product.id}}" class="btn btn-primary btn-block" value="AddToCart">Agregar al carrito</button>
            {{else}}
            {{/if}}
            {{/if}}
            
            {{#if user.isAdmin}}
            <a href="/products" class="btn btn-secondary">
                Volver al inicio
            </a>
            {{else}}
            {{#if user}}
            <a href="/products" class="btn btn-secondary">
                Seguir comprando
            </a>
            {{else}}
            <a href="/" class="btn btn-secondary">
                Seguir comprando
            </a>
            {{/if}}
            {{/if}}
            </div>
        </aside>
    </div>
</div>

<script src="/js/productDescription.js"></script>