<div class="container" id="producto">
    <header id="header">

        <nav class="navbar navbar-dark bg-dark" id="cartel">
            {{!-- <h1>¡Bienvenido/a {{user.first_name}} {{user.last_name}}!</h1>
            <h5>Eres: {{user.role}}</h5> --}}

            {{#if user.isAdmin}}
                {{!-- <div class="anchor-container"> --}}
                    <a href="/adminPanel"><button class="btn btn-outline-success me-2">Panel de admin</button></a>
                    <a href="/auth/logout"><button class="btn btn-secondary">Logout</button> </a>
                {{!-- </div> --}}
            {{else}}
                <div class="anchor-container">
                    <a id={{user.cart.id}} class="anchor-cart" href="/carts?id={{user.cart.id}}"><img height="55vh" width="55vh" class="img-cart" src="https://cdn.icon-icons.com/icons2/1456/PNG/512/mbrishoppingcart_99558.png" alt=""><div id="productQuantity">{{user.totalProducts}}</div></a>
                    <a id="logout" href="/auth/logout"><button class="btn btn-secondary btn-sm">Logout</button> </a>
                </div>
            {{/if}}


        </nav>
    </header>
    <div class="description">
        {{!-- {{#each product}} --}}
        <p>Título: {{product.title}}</p>
        <p>Categoría: {{product.category}}</p>
        <p>Descripción: {{product.description}}</p>
        <p>Precio: {{product.price}}</p>
        <img height="300px" width="300px" src="{{product.thumbail}}"> 
        <p>Código: {{product.code}}</p>
        <p>Cantidad disponible: {{product.stock}}</p>
        {{!-- {{/each}} --}}
        {{!-- <button id={{id}} class="btn btn-primary" value="AddToCart">Agregar al carrito</button> --}}
        <a href="/products" class="btn btn-secondary">
        {{#if user.isAdmin}}
        Volver al inicio
        {{else}}
        Seguir comprando
        {{/if}}
        </a>
    </div>
</div>

{{!-- <script src="js/productDescription.js"></script> --}}